<button
  class="backBtn"
  mat-raised-button
  color="primary"
  routerLink="/display/data"
>
  Back
</button>

<mat-form-field appearance="fill">
  <mat-select
    [formControl]="indicators"
    multiple
    placeholder="Indicators"
    [ngModel]="dropdownItems"
  >
    <mat-select-trigger>
      {{ indicators.value ? indicators.value[0] : "" }}
      <span *ngIf="indicators.value?.length > 1" class="selection">
        (+{{ indicators.value.length - 1 }}
        {{ indicators.value?.length === 2 ? "other" : "others" }})
      </span>
    </mat-select-trigger>
    <mat-option *ngFor="let indicator of dropdownItems" [value]="indicator">{{
      indicator
    }}</mat-option>
  </mat-select>
</mat-form-field>

<button
  class="downloadCharts"
  mat-raised-button
  color="primary"
  (click)="downloadPage()"
>
  Download
</button>
<app-chart-manager *ngIf="components" [component]="component">
</app-chart-manager>

<div class="footer">
  <p>Dashboard is rendered from OpenLAIR.</p>
</div>
