.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.main-content {
  grid-column: span 6;
}

@media screen and (max-width: 768px) {
  .main-content {
    grid-column: span 12;
  }
}
@media screen and (max-width: 480px) {
  .main-content {
    grid-column: span 12;
  }
}
