<div class="example">
  <highcharts-chart
    [Highcharts]="Highcharts"
    [options]="chartOptions"
    style="width: 50%; height: 300px; display: block; float: left"
  ></highcharts-chart>
</div>

<div class="example">
  <highcharts-chart
    [Highcharts]="Highcharts"
    [options]="chartOptions2"
    style="width: 50%; height: 300px; display: block; float: left"
  ></highcharts-chart>
</div>

<!-- 
<figure class="highcharts-figure">
  <div id="container-speed" class="chart-container"></div>
  <div id="container-rpm" class="chart-container"></div>
</figure>
-->
